body {
	padding: 20px;
}


/* Input elements */

input,
select
{
	height: 25px;
	line-height: 25px;
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
	box-sizing: border-box;
}

input[type="text"],
select
{
	border: 1px solid #BBBBBB;
	background: #FFFFFF;
}

input[type="text"] {
	padding-left: 5px;
	padding-right: 5px;
}

input[type="submit"],
input[type="button"]
{
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background: #BBBBBB;
	cursor: pointer;
}


/* Tables */

table {
	width: 100%;
	border-collapse: collapse;
}

table th,
table td
{
	padding: 10px;
}

table th {
	text-align: left;
}

table tr:nth-child(odd) td {
	background-color: #EEEEEE;
}
